<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Datos de la empresa</title>
</head>
<body>
    <header th:replace="layout/plantilla :: header"></header>
    <h2>Datos de la emresa</h2>
    <form id="customer-form" th:action="@{/empresas/guardar}" method="post" th:object="${empresa}">
        <input type="hidden" name="idEmpresa" th:field="*{idEmpresa}">
        <br>
        <label for="nombre">Nombre </label>
        <input type="text" name="nombre" th:field="*{nombre}"/>
        <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
        <br>
        <label for="direccion">Direccion </label>
        <input type="text" name="direccion" th:field="*{direccion}"/>
        <span th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Error direccion</span>
        <br>
        <label for="telefono">Telefono </label>
        <input type="text" name="telefono" th:field="*{telefono}"/>
        <span th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Error telefono</span>
        <br>
        <label for="nit">NIT </label>
        <input type="text" name="nit" th:field="*{nit}"/>
        <span th:if="${#fields.hasErrors('nit')}" th:errors="*{nit}">Error nit</span>
        <br>
        <input type="submit" name="guardar" value="Guardar">
    </form>
</body>
</html>