<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de movimientos</title>
</head>
<body>
<header th:replace="layout/plantilla :: header"></header>
<a th:href="@{/}">Home</a>
<br>
<a th:href="@{/movimientos/crear}">Nuevo Movimiento</a>
<br>
<table border="1">
    <tr>
        <th>Monto</th>
        <th>Concepto</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </tr>
    <tr th:each="movimiento : ${movimientos}" th:if="${movimiento.estado}">
        <td th:text="${movimiento.monto}"></td>
        <td th:text="${movimiento.concepto}"></td>
        <td><a th:href="@{/movimientos/editar/} + ${movimiento.idMovimiento}" th:text="Editar"></a></td>
        <td><a th:href="@{/movimientos/eliminar/} + ${movimiento.idMovimiento}" th:text="Eliminar"></a></td>
    </tr>
</table>
</body>
</html>